input:focus::placeholder {
  opacity: 0;
}

.container-fluid {
  max-width: 1200px;
}

.col-lg-20pr {
  padding-right: 15px;
  padding-left: 15px;
}

.link {
  color: inherit;
}

.link:hover {
  color: #FFA500;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .col-xl-20pr {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.top-bar {
  border-bottom: 1px solid #ddd;
  box-shadow: 1px 1px 3px 1px #ddd;
  background: #FFF;
}

.header-search input[type="text"] {
  width: 16rem;
  height: 2.6rem;
  color: #FFA500;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.count-item {
  position: relative;
  color: #222222;
  margin-right: .5rem;
}

.count-item:hover {
  color: #FFA500;
}

.count-item__count {
  position: absolute;
  top: -.4rem;
  right: -.6rem;
  width: 1.1rem;
  height: 1.1rem;
  line-height: 1.1rem;
  color: #ffffff;
  font-size: .7rem;
  text-align: center;
  border-radius: 50%;
  background: #6c757d;
}

.header-icons {
  list-style: none;
  margin: 0;
  padding: .2rem 0;
}

.header-icons li {
  border-right: 1px solid #ddd;
  padding: 0 .6rem;
  float: left;
}

.header-account {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  display: inline-block;
  height: 5rem;
}

.logo img {
  height: 100%;
}

.nav.header-nav a {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav.header-nav a:hover {
  color: #FFA500;
}

.wide-nav {
  color: #ffffff;
  background-color: #FFA500;
}

.social-item {
  color: #000000;
}

.social-item:hover {
  color: #ffffff;
}

.social-item-round {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #333333; 
}

.social-item-border-round {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  line-height: 1.9rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.social-item-round:hover {
  color: #FFA500;
}

.social-item-border-round:hover {
  color: #FFA500;
  border-color: #FFA500;
}

.header-vertical-menu {
  position: relative;
  padding: 0 20px;
  background: #333;
  width: 16rem;
  height: 2.8rem;
}

.header-vertical-menu .dropdown-menu {
  display: block;
  min-width: 100%;
  margin-top: 0;
  border: 1px solid #ddd;
  border-radius: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .25s;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.header-vertical-menu .dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.heading-title {
  position: relative;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.heading-title span {
  position: relative;
  background-color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  color: #FFA500;
}

.heading-title hr {
  position: absolute;
  margin: 0;
  width: 100%;
  top: 50%;
  background-color: #FFA500;
}

.category {
  display: block;
  color: #FFA500;
}

.category a {
  display: inline-block;
  color: inherit;
}

.category-img {
  margin-bottom: 8px;
  border-radius: 50%;
}

.section-elements {
  margin-bottom: 4rem;
}

.card {
  position: relative;
  border-radius: 0;
}

.card:hover, .card:hover .card-summary {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-img {
  /*padding: 1rem;*/
}

.card-img img {
  max-width: 100%;
}

.card-price {
  color: #FFA500;
}

.card-info {
  color: inherit;
}

.card-link {
  display: inline-block;
  color: inherit;
}

.card-link:hover {
  color: #FFA500; 
}

.card-summary {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -1px;
  font-size: .8rem;
  z-index: 1;
}

.card-summary__inner {
  margin: 0 -1px;
  padding: 1rem;
  padding-top: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
}

.card-summary hr {
  margin-top: 0;
}

.card:hover .card-summary {
  display: block;
}

.footer-top-bar {
  padding: .6rem 0;
  color: #fff;
  font-size: .8rem;
  background-color: #333;
}

.footer-top-bar a {
  color: inherit;
}

.nav a {
  color: inherit;
}

.footer-nav li {
  border-right: 1px solid #ffffff;
  padding: 0 .6rem;
}

.footer-center-bar {
  padding: 2rem 0;
  background-color: #FFA500;
}

.footer-bottom-bar {
  padding: 2rem 0;
}
